body {
    font-family:  "Geneva", Tahoma, sans-serif;
    min-height: 100vh;
    background-color: #f0f0f0;
    margin: 1% 15%;
    font-size: 18px;
    text-align: center;
}

.header {
    color: white;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    border: 1px solid #797777;
    border-radius: 15px;
    padding: 5% 10%;
    display: grid;
    grid-template-columns: 7fr 1fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas:
                 "name divider links";
    animation: smoothFade 0.6s ease-in-out;
}

ul {
  list-style: none;
}

li {
    padding: 5px;
}

.header a {
    color: white;
    text-decoration: none;
}

.name {
    grid-area: name;
    text-align: left;
}

.divider {
    grid-area: divider;
    width: 5px;
    background-color: #ffffff;
    margin: 5% 0;
    margin-left: 25%;
    border-radius: 2px;
}

.links {
    grid-area: links;
    text-align: left;
}


.introduction {
    border: 1px solid #797777;
    border-radius: 10px;
    padding: 5% 10%;
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: 
                "intro my-img"
                "buttons my-img";
    gap: 30px;
    animation: smoothFade 0.6s ease-in-out;
}

.intro {
    grid-area: intro;
    text-align: left;
}

.my-img {
    grid-area: my-img;
    display: flex;
    align-items: center;
    justify-content: center;
}

.my-img img {
    width: 60%;
    max-width: 100%;
    height: auto;
    cursor: pointer;
    align-items: center;
    border: 1px solid #797777;
    border-radius: 10px;
    box-shadow: 7px 7px 10px #201d1d;
    transition: transform 0.3s ease-in-out,
                filter 0.3s ease-in-out;

}

img:hover {
    filter: brightness(1.1);
    transform: translateY(-3px) scale(1.1);
    box-shadow: 0 6px 18px rgba(0,0,0,0.15);
}

.buttons {
    grid-area:  buttons;
}

.buttons a {
    text-decoration: none;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: rgb(255, 255, 255);
    padding: 10px 40px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    margin: 20px;
    font-weight: 600;
    box-shadow: 4px 4px 8px #201d1d;
    transition: filter 0.3s ease-in-out;
}

.buttons a:hover { 
    filter: brightness(1.1);
    box-shadow: 0 6px 18px rgba(0,0,0,0.15);
}
.about {
    border: 1px solid #797777;
    border-radius: 10px;
    text-align: justify;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1.3fr 1.3fr;
    grid-template-areas: 
                "about-me about-me"
                "education focus"
                "carrier-goals approach";
    gap: 30px;
    animation: smoothFade 0.6s ease-in-out;
}

.about-me, .education, .carrier-goals, .focus, .approach {
    color: white;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    border: 1px solid #797777;
    border-radius: 10px;
    padding: 5% 8%;
}

.about-me {
    grid-area: about-me;
    padding: 2% 4%;
}

.education {
    grid-area: education;
}

.carrier-goals {
    grid-area: carrier-goals;
}

.focus {
    grid-area: focus;
}

.approach {
    grid-area: approach;
}

.skills {
    text-align: left;
    padding: 2% 4%;
}

.skill-category {
    border: 1px solid #797777;
    border-radius: 10px;
    padding: 0 8%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas:  "heading heading heading"
                            "lists lists lists";
    gap: 0;
}

.skill-category .heading {
    grid-area: heading;
}

.skill-category .lists {
    grid-area: lists;
}

.lists {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.lists img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

li img {
    box-shadow: 8px 8px 8px #0f2027;
    border-radius: 15px;
    height: 140px;
    width: 280px;
    max-width: 80%;
    max-height: 70%;
    margin: 0 30px;
    align-items: center;
    animation: smoothFade 0.6s ease-in-out;

}

#soft-skill li {
    box-shadow: 8px 8px 8px #0f2027;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    border-radius: 15px;
    height: 150px;
    width: 280px;
    max-width: 80%;
    max-height: 70%;
    margin: 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    animation: smoothFade 0.6s ease-in-out;
}


.work {
    border: 1px solid #797777;
    border-radius: 10px;
    text-align: justify;
}

.work h1 {
  text-align: left;
  margin-bottom: 40px;
}

.projects-grid {
  border: 1px solid #000000;
  border-radius: 10px;
  text-align: justify;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "project-card-1 project-card-2";
  gap: 30px;
}

#card-1 {
    grid-area: project-card-1;
}

#card-2 {
    grid-area: project-card-2;
}

.project-card {
  box-shadow: 5px 5px 15px rgba(0,0,0,0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: white;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  border: 1px solid #797777;
  border-radius: 10px;
  padding: 5% 8%;
    animation: smoothFade 0.6s ease-in-out;

}

.project-card:hover {
  transform: translateY(-5px) scale(1.02);
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

.project-card h3, .tech, .description {
  margin-bottom: 10px;
}

.project-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}


.btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 30px;
  background-color: #1a73e8;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 15px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #1558b0;
}


#contact {
    text-align: left;
    margin: 5% 5%;
}

.contact-info {
    margin: 40px;
}

.contact-info a {
    text-decoration: none;
    color: #000000;
}


footer {
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  border-radius: 10px;
  color: #fff;
  padding: 25px 0;
  text-align: center;
  margin-top: 30px;
}

.footer-social a {
  color: #fff;
  font-size: 22px;
  margin: 0 15px;
  transition: 0.3s ease;
}

.footer-social a:hover {
  color: #5300e2;
  transform: scale(1.2);
}

.footer-copy {
  margin: 15px 0;
  font-size: 14px;
  color: white;
}

.footer-top a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}


@keyframes smoothFade {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@media (max-width: 768px) {

  body {
    margin: 10px;
    font-size: 16px;
    text-align: center;
  }

  h1, h2, h3 {
    text-align: center;
  }

 .content p {
     text-align: justify;
 }
  .header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    text-align: center;
  }

  .divider {
    display: none; 
  }

  .links ul {
    display: flex;
    flex-direction: raw;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    padding: 0;
    font-weight: 600;
  }

  /* INTRO SECTION */
  .introduction {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
  }

  .intro {
    text-align: center;
  }

  .my-img img {
    width: 80%;
    height: auto;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .buttons a {
    margin: 0;
    width: 50%;
  }

  /* ABOUT SECTION */
  .about {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
  }

  .about-me,
  .education,
  .focus,
  .carrier-goals,
  .approach {
    padding: 20px;
    text-align: left;
  }

  /* SKILLS SECTION */
  .skill-category {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 25px;
  }

  .lists {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  li img {
    width: 90%;
    height: auto;
    margin: 0;
  }

  #soft-skill li {
    width: 90%;
    height: auto;
    padding: 20px;
  }

  /* PROJECTS SECTION */
  .projects-grid {
    display: flex;
    flex-direction: column;
    margin: 10px;
    gap: 20px;
    border: none;
  }

  .project-card {
    padding: 20px;
    text-align: left;
  }

  .project-links {
    flex-direction: column;
    gap: 10px;
  }

  .project-links .btn {
    width: 60%;
    text-align: center;
    margin: 0;
  }

  /* CONTACT */
  #contact {
    margin: 20px 10px;
    text-align: center;
  }

  .contact-info {
    margin: 20px 0;
    text-align: left;
  }

  /* FOOTER */
  footer {
    padding: 20px 10px;
  }

  .footer-social {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .footer-top a {
    display: inline-block;
    margin-top: 10px;
  }

}
